*{
  margin: 0px;
}

.text {
  font-family: "League Spartan-Bold", Helvetica;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

.tittle-h1-section{
  margin-bottom: 20px;
  font-family: "League Spartan-Bold", Helvetica;
  font-size: 30px;
  text-align: center;
}

.section-share {
  background-color: #FF6622;
  height: 550px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

