/*Welcome section*/
.s-welcome {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: var(--beige);
}

.welcome-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--blue);
}

.p-welcome {
    margin-top: 30px;
}


/*Todo list section*/
.s-todo-list {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
}

.container-todo {
    display: flex;
    align-items: center;
    margin: 50px;
}

.todo-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--beige);
    margin-left: 100px;
}

.p-todo {
    margin-top: 30px;
}

/*Avaible on*/
.s-avaible-on {
    padding: 50px;
    background-color: var(--beige);
}

.avaible-text {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 75px;
}

.avaible-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logout {
    margin-top: 600px;
}