.nav {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--beige);
  border-radius: 0 0 25px 25px;
}

.tittle-h1 {
  margin-left: 10px;
  font-family: var(--primary-font);
  font-size: 30px;
  color: var(--blue);
  letter-spacing: 3px;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.buttons {
  margin: 20px;
  display: flex;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #99bc85;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  width: 100%;
  height: 25px;
}

.link {
  text-decoration: none;
  color: white;
  font-family: "League Spartan-Bold", Helvetica;
  font-size: 20px;
  letter-spacing: 2px;
}

.button:hover {
  background-color: var(--green);
}

.button:active {
  transform: scale(0.95);
}

.section-community {
  background-color: #55a2ff;
  height: 550px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
